<h1><%= @species.name %></h1>

edit
delete

<p><a href="/species/<%= @species.id %>/edit">Edit</a></p>
<p><a href="/species/<%= @species.id %>"
  data-confirm="You sure?"
  data-method="delete"
  rel="nofollow">Delete</a></p>

<button><a href="/">Go Back</a></button>
